body {
  background-color: #FFE;
}

#companySide {
  display: none;
}

#customerSide {
  display: none;
}

#selection {
  text-align: center;
}

.jumbotron {
   text-align: center;
}

.center {
  text-align: center;
}

button {
  margin: 5px;
}

.lineItem {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

input {
  margin: 15px;
}

/* .tabLineItem {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  background-color: lightgrey;
} */

.removeButton {
  font-size: 12px;
}
