#companySide {
  display: none;
}

#customerSide {
  display: none;
}

#selection {
  text-align: center;
}

.jumbotron {
   text-align: center;
}

.center {
  text-align: center;
}

button {
  margin: 5px;
}

.lineItem {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

input {
  margin: 15px;
}

<<<<<<< HEAD
#customerUi {
  display: none;
=======
card {
  margin: 18rem;
}

/* .card-text {
  display: none; */
}

carousel {
  height: 500px;
  border: black;
>>>>>>> 1dd30972a4ddafe723da8056019cef47568c533c
}
