body {
  background-color: #eee;
}

#companySide {
  display: none;
}

#customerSide {
  display: none;
}

#selection {
  text-align: center;
}

#version {
  font-size: .5em;
}

.center {
  text-align: center;
}

button {
  margin: 5px;
}


.lineItem {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

input {
  margin: 15px;
}

.removeButton {
  font-size: 12px;
}
/*
//////////////////////////
//                      //
//                      //
//    CSS Styling By    //
//        Chris         //
//                      //
////////////////////////// */
video {
  display: inline-block;
  vertical-align: baseline;
  object-fit: contain;
}
.video-wrapper video {
  width: 100%;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
  transition: ;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }


* {
  box-sizing: border-box;
}

.video-wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto 45px;
}
.video-wrapper h3 {
  color: black;
  position: absolute;
  top: 42%;
  font-size: 60px;
  text-align: center;
  left: 0;
  right: 0;
}

.drinkCard div div p {
  display: none;
}

.drinkCard {
  margin: 10px;
  border: none;
}

.overlayColor {
  background: rgba(75,200,75,0.52);
  z-index: 2;
  overflow: hidden;
}
